
$border-size: 10px !default;

.plateau {
    display: grid;
    grid-template-columns: repeat(9, 61.5px);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    height: 250px;
    background: linear-gradient(20deg, #8B4513, #A0522D, #B8860B, #e4a95d);
    .block_:nth-child(1):before,.block_:nth-child(3):before,.block_:nth-child(5):before,.block_:nth-child(7):before{
        content: '';
        width: 2px;
        height: 400px;
        display: block;
        background-color: rgb(19, 18, 18);
        transform-origin: top left;
        transform: rotate(-45deg);
    }
    .block_ {
        width: $border-size;
        height: $border-size;
        border-radius:100%;
        z-index: 888;
    }
    .block_1{
        background-color: black;
    }
    .block_2{
        background-color: rgb(255, 255, 255);
    }
    .block_0{
        background-color: rgb(168, 167, 167);
    }
    
    .firstRow{
        transform: translateY(calc( $border-size*-1 / 2));
    }
    .firstCol{
        transform: translateX(calc( $border-size*-1 / 2));
    }
    .lastRow{
        transform: translateY(calc( $border-size/ 2));
    }
    .lastCol{
        transform: translateX(calc( $border-size / 4));
    }
    .firstRowfirstCol{
        transform: translate(calc( $border-size*-1 / 2),calc( $border-size*-1 / 2));
    }
    .firstRowlastCol{
        transform:translate(calc( $border-size / 4),calc( $border-size*-1 / 2));
    }
    .lastRowfirstCol{
        transform: translate(calc( $border-size*-1 / 2),calc( $border-size / 2));
    }
    .lastRowlastCol{
        transform: translate(calc( $border-size / 4),calc( $border-size / 2));
    }
}
#container {
    display: block;
    position: relative;
}

@media only screen and (orientation:portrait) {
    #container {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media only screen and (orientation:landscape) {
    #container {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        height: 100%;
        display: grid;
    }
}